@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Animal Shelter</h1>
    <p>@Html.ActionLink("See all animal types", "Index", "AnimalType")</p>
</div>
