@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.AnimalType

<h4>Add a new animal type</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <input type = "submit" value="Add new type"/>
}
<p>@Html.ActionLink("Show all animal types", "Index")</p>